<div class="container">
    <div class="text">
        <h3>Nasza Kuchnia</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In vestibulum in odio ut sollicitudin. 
            In consequat aliquam pretium. Vestibulum aliquet, erat imperdiet dapibus dignissim, ligula justo 
            mollis est, quis efficitur metus erat ac augue. Morbi eleifend odio ac sagittis euismod. Fusce 
            placerat varius ligula, et fermentum tellus laoreet sed. Nulla facilisi. Sed vitae placerat risus. 
            Pellentesque a est a dolor placerat venenatis. Vestibulum finibus mattis sapien vitae ultrices. 
            Donec et ligula justo. Nulla nec dui quis orci pharetra dictum. Suspendisse auctor erat quis tortor 
            tempor ultricies. In cursus in ligula nec accumsan. Donec mattis sed lorem vel interdum. Donec accumsan.</p>
    </div>
    <div class="galery">
        <img src="/assets/burrito.jpg" class="galery_photo galery_photo1">
        <img src="/assets/chinkali.jpg" class="galery_photo galery_photo2">
        <img src="/assets/pizza.jpeg" class="galery_photo galery_photo3">
    </div>
    <div class="text">
        <h3>Nasza Kadra</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In vestibulum in odio ut sollicitudin. 
            In consequat aliquam pretium. Vestibulum aliquet, erat imperdiet dapibus dignissim, ligula justo 
            mollis est, quis efficitur metus erat ac augue. Morbi eleifend odio ac sagittis euismod. Fusce 
            placerat varius ligula, et fermentum tellus laoreet sed. Nulla facilisi. Sed vitae placerat risus. 
            Pellentesque a est a dolor placerat venenatis. Vestibulum finibus mattis sapien vitae ultrices. 
            Donec et ligula justo. Nulla nec dui quis orci pharetra dictum. Suspendisse auctor erat quis tortor 
            tempor ultricies. In cursus in ligula nec accumsan. Donec mattis sed lorem vel interdum. Donec accumsan.</p>
    </div>
    <div class="line"></div>
    <div class="dane">
        <div>
            <img class="map" src="/assets/mapa.jpg">
        </div>
        <div class="phone">
            <p>Telefon kontaktowy: <br>
            777 777 777 <br>
            lub <br>
            666 666 666</p>
        </div>
        <div class="phone">
            <p>Email: <br> <br>
            restauracja@gmail.com</p>
        </div>
    </div>
</div>