.container{
    margin: 4vh 4vw;
    padding: 2vh 2vw;
    background-color: rgb(255, 223, 181);
    border: 1px solid;
    border-radius: 20px;
    font-size: 3.5vh;
}

.position{
    font-weight: bold;
    border-bottom: 1px solid black;
    margin-bottom: 2vh;
}

.x{
    margin-right: 1.5vw;
}

.y{
    margin-right: 3vw;
}

.change{
    height: 3.7vh;
    width: 8vw;
    color: white;
    font-size: 1.5vh;
    background-color: blue;
    margin-bottom: 3vh;
}

.change:hover{
    background-color: rgb(0, 0, 185);
}

@media(max-width: 600px){
    .change{
        width: 14vw;
    }
}